h1, h2, h3, h4, h5, h6, p {
   font-family: 'Montserrat', sans-serif;
}

.weather-widget {
  font-family: Arial, sans-serif;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.widget-location {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.widget-daily {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.daily-weather {
  background: linear-gradient(163.15deg, rgba(96, 114, 138, 0.9) -1.62%, rgba(25, 30, 36, 0.9) 112.31%);
  border: 1px solid transparent;
  border-image-source: linear-gradient(170.97deg, rgba(153, 153, 153, 0) -1.23%, rgba(255, 255, 255, 0.1) 108.74%);
  border-image-slice: 1; /* Required for border-image to work */
  border-radius: 8px;
  width: 166px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.day-header {
  background: white; 
  padding: 5px 0;
  width: 100%;
}

.widget-day {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  background-image: linear-gradient(216.32deg, #60728A 38.46%, #191E24 112.02%);
  color: transparent;
  background-clip: text;
}

.daily-content {
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.widget-icon {
  width: 105px;
  height:100px;
  margin: 10px 0;
}

.widget-temp-high {
  font-size: 24px;
  margin: 5px 0;
  color: #FFF; /* Highlight high temperature */
  font-weight: 700;
}

.widget-feels-like-high {
  font-size: 16px;
  margin: 5px 0;
  color: #FFF; /* Highlight low temperature */
  font-weight: 600;
}

.widget-summary{
  color: #FFF;
  font-size: 15px;
  font-weight: 500;
  min-height: 45px;
  max-width: 90%;
  text-align: center;
}

.widget-windRain-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%; 
  gap: 40px; 
}

.wind-box, .precip-box {
  display: flex;
  flex-direction: column;
  flex: 1; /* Makes them take equal space */
}
.wind-box{
  align-items: flex-start;
  justify-content: start;
}

.widget-wind-direction, .widget-precip-percent {
   white-space: nowrap; /* Prevents wrapping */
  overflow: hidden;
  font-weight: 500;
  font-size: 12px;
  color: #FFF;
}

.precip-box {
  align-items: flex-end;
  justify-content: end;
}

/*Hourly*/

.widget-hourly {
  display: flex;
  justify-content: center;  /* Aligns items to the left */
  gap: 15px;
  flex-wrap: nowrap; /* Prevents wrapping, forces items to stay in a single row */
  margin-top: 20px;
  overflow-x: auto; /* Allows horizontal scrolling if the content overflows */
}

.hourly-header {
  display: flex;
  gap: 10px;
}

.hourly-weather {
  background: linear-gradient(216.32deg, #60728A 38.46%, #191E24 112.02%);
  border: 1px solid transparent;
  border-image-source: linear-gradient(170.97deg, rgba(153, 153, 153, 0) -1.23%, rgba(255, 255, 255, 0.1) 108.74%);
  border-image-slice: 1;
  border-radius: 8px;
  width: 120px; /* Matched with .daily-weather */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.widget-hour {
  font-size: 20px;
  margin: 0;
  background-image: linear-gradient(216.32deg, #60728A 38.46%, #191E24 112.02%);
  color: transparent;
  background-clip: text;
 
}

.hourly-content {
  padding: 10px;
}

.widget-icon {
  width: 105px; /* Matched size */
  height: 100px;
  margin: 10px 0;
}

.widget-temp {
  color: #fff;
  font-weight: bold;
}

.widget-feels-like {
  font-weight: 600;
  font-size: 1rem;
  color: #FFF;
  margin: 5px 0;
}
.widget-precipitation {
  font-weight: 600;
  font-size: 1rem;
  color: #FFF;
  margin: 5px 0;
}


/* Testing Dropdowns */
.testing-dropdowns{
  display: flex;
  align-items: center;
  justify-content: center;
}

.type-parent{
  margin: 0 10px 0 3px;
}

.duration-parent{
  margin: 0 10px 0 3px;
}

.type-label{
  margin: 0 5px;
}
.duration-label{
 margin: 0 5px;
}


